.skeleton {
	width: 100%;
	background: linear-gradient(to right, var(--scope-25) 0%, var(--scope-100) 50%, var(--scope-25) 100%);
	background-size: 400% 400%;
	animation: gradient 2s ease-in-out infinite;
	min-height: 12px;
	max-height: 100%;
}

@keyframes gradient {
	0% {
	  background-position: 0% 50%;
	}
	50% {
	  background-position: 100% 50%;
	}
	100% {
	  background-position: 0% 50%;
	}
  }