@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply min-h-screen select-none bg-canvas text-it-1000 antialiased p-safe dark:bg-contrast dark:text-gray-100;

	transition-property: opacity, transform, filter, background;
	transition-timing-function: ease-in-out;
	transition-duration: 500ms;

	/* PWA enhancements */
	-webkit-overflow-scrolling: touch;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
}

.markdown-editor p {
	margin-bottom: 1rem;
}

.page-transition {
	opacity: 0.5;
	background: black;
	transform: translateY(40px);
	filter: blur(12px);
}